.memory .board {
  margin: 2em 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.memory .cell {
  border: none;
}

.memory .cell:not(.stable):hover {
  border: 2px solid black;
}

.red {
  background-color: orangered;
}

.maroon {
  background-color: maroon;
}

.gold {
  background-color: gold;
}

.green {
  background-color: forestgreen;
}

.turquoise {
  background-color: turquoise;
}

.blue {
  background-color: royalblue;
}

.violet {
  background-color: violet;
}

.purple {
  background-color: purple;
}

.hidden {
  background-color: lightgrey;
}

.stable {
  cursor: not-allowed;
}
