.memory .board {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.memory .cell {
  border: none !important;
}

.memory .cell:not(.stable):hover {
  transform: scale(1.1);
}

#light .hidden {
  background-color: lightgrey;
}

#dark .hidden {
  background-color: darkgrey;
}

.stable {
  cursor: not-allowed !important;
}

.red {
  background-color: orangered;
}

.maroon {
  background-color: maroon;
}

.gold {
  background-color: gold;
}

.green {
  background-color: forestgreen;
}

.turquoise {
  background-color: turquoise;
}

.blue {
  background-color: royalblue;
}

.violet {
  background-color: violet;
}

.purple {
  background-color: purple;
}
