.memory .board {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.memory .board.hard {
  grid-template-columns: repeat(6, auto);
  grid-gap: 8px;
}

.memory .cell {
  border: none !important;
}

.memory .cell:not(.stable):hover {
  transform: scale(1.1);
}

#light .hidden {
  background-color: lightgrey;
}

#dark .hidden {
  background-color: darkgrey;
}

.orangered {
  background-color: orangered;
}

.saddlebrown {
  background-color: saddlebrown;
}

.gold {
  background-color: gold;
}

.forestgreen {
  background-color: forestgreen;
}

.turquoise {
  background-color: turquoise;
}

.royalblue {
  background-color: royalblue;
}

.violet {
  background-color: violet;
}

.purple {
  background-color: purple;
}

.darkorange {
  background-color: darkorange;
}

.burlywood {
  background-color: burlywood;
}

.darkgoldenrod {
  background-color: darkgoldenrod;
}

.limegreen {
  background-color: limegreen;
}

.darkolivegreen {
  background-color: darkolivegreen;
}

.mediumspringgreen {
  background-color: mediumspringgreen;
}

.teal {
  background-color: teal;
}

.deepskyblue {
  background-color: deepskyblue;
}

.aqua {
  background-color: aqua;
}

.blueviolet {
  background-color: blueviolet;
}

.mediumpurple {
  background-color: mediumpurple;
}

.deeppink {
  background-color: deeppink;
}

@media screen and (max-width: 600px) {
  .memory .board {
    grid-gap: 8px;
  }

  .memory .cell {
    height: 85px;
    width: 85px;
  }

  .memory .board.hard {
    grid-gap: 6px;
  }

  .memory .hard .cell {
    height: 56px;
    width: 56px;
  }
}
