.wordle {
  height: calc(100vh - 80px);
}

.wordle#light {
  background-color: #faf8ef;
  color: black;
}

.wordle#dark {
  background-color: #121213;
  color: white;
}

.grid-container {
  display: flex;
  top: 0;
  height: calc(100vh - 80px - 190px - 5px);
  place-items: center;
}

.grid {
  width: 350px;
  height: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  gap: 5px;
}

.letter {
  display: grid;
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
  place-items: center;
  color: white;
}

#dark .letter {
  border: 2px solid #3a3a3c;
}

#light .letter {
  border: 2px solid #d4d6da;
  color: black;
}

#dark .letter#entered {
  border: 2px solid #565758;
}

#light .letter#entered {
  border: 2px solid #878a8c;
}

.letter:nth-child(2) {
  animation-delay: 0.25s !important;
}

.letter:nth-child(3) {
  animation-delay: 0.5s !important;
}

.letter:nth-child(4) {
  animation-delay: 0.75s !important;
}

.letter:nth-child(5) {
  animation-delay: 1s !important;
}

.keyboard {
  height: 190px;
  width: 484px;
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  gap: 5px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}

.key {
  height: 58px;
  width: 43px;
  font-weight: bold;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: #808384;
  -webkit-tap-highlight-color: #666;
}

.backspace {
  width: 23px;
  height: 23px;
}

#dark .key {
  background-color: #808384;
}

#light .key {
  background-color: #d4d6da;
}

#big-key {
  width: 67px;
}

#dark #correct-key {
  background-color: #538d4e;
  transition-delay: 1.5s;
}

#light #correct-key {
  background-color: #6baa64;
  transition-delay: 1.5s;
}

#dark #partial-key {
  background-color: #b59f3b;
  transition-delay: 1.5s;
}

#light #partial-key {
  background-color: #cab458;
  transition-delay: 1.5s;
}

#dark #incorrect-key {
  background-color: #3a3a3c;
  transition-delay: 1.5s;
}

#light #incorrect-key {
  background-color: #787c7e;
  transition-delay: 1.5s;
}

#dark #correct {
  --background-color: #538d4e;
  animation: flip-dark 0.5s linear forwards;
}

#light #correct {
  --background-color: #6baa64;
  animation: flip-light 0.5s linear forwards;
}

#dark #partial {
  --background-color: #b59f3b;
  animation: flip-dark 0.5s linear forwards;
}

#light #partial {
  --background-color: #cab458;
  animation: flip-light 0.5s linear forwards;
}

#dark #incorrect {
  --background-color: #3a3a3c;
  animation: flip-dark 0.5s linear forwards;
}

#light #incorrect {
  --background-color: #787c7e;
  animation: flip-light 0.5s linear forwards;
}

@keyframes flip-dark {
  0% {
    transform: rotateX(0);
    background-color: #121213;
  }
  49% {
    transform: rotateX(90deg);
    background-color: #121213;
  }
  51% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--background-color);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--background-color);
  }
}

@keyframes flip-light {
  0% {
    transform: rotateX(0);
    background-color: white;
  }
  49% {
    transform: rotateX(90deg);
    background-color: white;
  }
  51% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--background-color);
    color: white;
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--background-color);
    color: white;
  }
}

.gameOver {
  margin-top: -4.5em;
}

h2.answer {
  font-size: 2.25em;
  padding-bottom: 0.75em;
}

.wordle .restart {
  position: absolute;
  bottom: 10px;
  transform: translate(-50%);
}

@media screen and (max-width: 400px) {
  .wordle {
    height: calc(91vh - 80px);
  }

  .grid-container {
    height: calc(89vh - 80px - 165px - 5px - 25px);
  }

  .grid {
    width: 340px;
    height: 400px;
  }

  .keyboard {
    height: 165px;
  }

  .key {
    height: 52px;
    width: 33px;
  }

  #big-key {
    width: 53px;
  }

  .gameOver {
    margin-top: 2em;
  }

  h2.answer {
    padding-bottom: 0.5em;
  }
}

@media screen and (max-height: 900px) {
  .gameOver {
    margin-top: 2em;
  }

  h2.answer {
    font-size: 1.75em;
    padding-bottom: 0.5em;
  }
}
