.tic-tac-toe .board {
  grid-template-columns: repeat(3, auto);
}

.tic-tac-toe .cell:not(.occupied):hover {
  background-color: lightgrey;
}

.tic-tac-toe .cell:nth-child(1),
.tic-tac-toe .cell:nth-child(2),
.tic-tac-toe .cell:nth-child(3) {
  border-top: none !important;
}

.tic-tac-toe .cell:nth-child(3n + 1) {
  border-left: none !important;
}

.tic-tac-toe .cell:nth-child(3n + 3) {
  border-right: none !important;
}

.tic-tac-toe .cell:nth-child(7),
.tic-tac-toe .cell:nth-child(8),
.tic-tac-toe .cell:nth-child(9) {
  border-bottom: none !important;
}

.occupied:hover {
  cursor: not-allowed;
}
