.tic-tac-toe .board {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.tic-tac-toe .cell {
  height: 124px;
  width: 124px;
  font-size: 5em;
  border-radius: 0;
}

.tic-tac-toe#light .cell:not(.stable):hover {
  background-color: lightgrey;
}

.tic-tac-toe#dark .cell:not(.stable):hover {
  background-color: grey;
}

.tic-tac-toe .cell:nth-child(1),
.tic-tac-toe .cell:nth-child(2),
.tic-tac-toe .cell:nth-child(3) {
  border-top: none !important;
}

.tic-tac-toe .cell:nth-child(3n + 1) {
  border-left: none !important;
}

.tic-tac-toe .cell:nth-child(3n + 3) {
  border-right: none !important;
}

.tic-tac-toe .cell:nth-child(7),
.tic-tac-toe .cell:nth-child(8),
.tic-tac-toe .cell:nth-child(9) {
  border-bottom: none !important;
}

.tic-tac-toe .message {
  margin-top: 3.5em;
}
