.background {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background#light {
  background-color: #faf8ef;
  color: black;
}

.background#dark {
  background-color: #121213;
  color: white;
}

.tic-tac-toe .board {
  margin: 0 0 3em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  align-items: center;
  display: grid;
  font-size: 5em;
  cursor: pointer;
}

.tic-tac-toe .cell:not(.occupied):hover {
  background-color: lightgrey;
}

.tic-tac-toe .cell:nth-child(1),
.tic-tac-toe .cell:nth-child(2),
.tic-tac-toe .cell:nth-child(3) {
  border-top: none;
}

.tic-tac-toe .cell:nth-child(3n + 1) {
  border-left: none;
}

.tic-tac-toe .cell:nth-child(3n + 3) {
  border-right: none;
}

.tic-tac-toe .cell:nth-child(7),
.tic-tac-toe .cell:nth-child(8),
.tic-tac-toe .cell:nth-child(9) {
  border-bottom: none;
}

.occupied:hover {
  background-color: white;
  cursor: not-allowed;
}

h1 {
  font-size: 3em;
}

.restart {
  background-color: #8f7a66;
  color: white;
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0.25em 0.75em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.restart:hover {
  background-color: #68584a;
}
