#game2048 .board {
  margin: 0 0 3em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  padding: 15px;
  border-radius: 6px;
  background-color: #bbada0;
  height: 500px;
  width: 500px;
}

#game2048 .cell {
  width: 107px;
  height: 107px;
  background-color: #ccc1b4;
  font-size: 55px;
  line-height: 107px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: default;
}

#game2048 .num2 {
  background-color: #eee4da;
  color: #776e65;
}

#game2048 .num4 {
  background-color: #eee1c9;
  color: #776e65;
}

#game2048 .num8 {
  background-color: #f3b279;
  color: #f9f6f2;
}

#game2048 .num16 {
  background-color: #f69564;
  color: #f9f6f2;
}

#game2048 .num32 {
  background-color: #f77c5f;
  color: #f9f6f2;
}

#game2048 .num64 {
  background-color: #f75f3c;
  color: #f9f6f2;
}

#game2048 .num128 {
  background-color: #edd073;
  color: #f9f6f2;
  font-size: 45px;
}

#game2048 .num256 {
  background-color: #eecc62;
  color: #f9f6f2;
  font-size: 45px;
}

#game2048 .num512 {
  background-color: #edc950;
  color: #f9f6f2;
  font-size: 45px;
}

#game2048 .num1024 {
  background-color: #edc53f;
  color: #f9f6f2;
  font-size: 40px;
}

#game2048 .num2048 {
  background-color: #edc22e;
  color: #f9f6f2;
  font-size: 40px;
}

#game2048 .num4096 {
  background-color: #3c3a32;
  color: #f9f6f2;
  font-size: 40px;
}

#game2048 .restart {
  background-color: #8f7a66;
  border: none;
  color: #f9f6f2;
}

#game2048 .restart:hover {
  background-color: #68584a;
}
