.sliding .board {
  grid-template-columns: repeat(3, auto);
}

.sliding.hard .board {
  grid-template-columns: repeat(4, auto);
}

.sliding.hard .cell {
  font-size: 52px;
}

.sliding#light .cell.empty {
  background-color: grey;
  cursor: not-allowed;
}

.sliding#dark .cell.empty {
  background-color: lightgrey;
  cursor: not-allowed;
}

.sliding#light .cell:not(.stable):not(.empty):hover {
  background-color: lightgrey;
}

.sliding#dark .cell:not(.stable):not(.empty):hover {
  background-color: grey;
}

@media screen and (max-height: 714px) {
  .background.sliding:not(.hard) {
    height: 100%;
  }
}

@media screen and (max-height: 842px) {
  .background.sliding.hard {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .background.sliding:not(.hard),
  .background.sliding.hard {
    height: calc(100dvh - 80px);
  }

  .sliding.hard .board {
    grid-gap: 10px;
  }

  .sliding.hard .cell {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 45px;
  }

  @media screen and (max-height: 663px) {
    .background.sliding:not(.hard),
    .background.sliding.hard {
      height: 100%;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 400px) {
  .background.sliding:not(.hard),
  .background.sliding.hard {
    height: calc(100dvh - 75px);
  }

  @media screen and (max-height: 623px) {
    .background.sliding:not(.hard),
    .background.sliding.hard {
      height: 100%;
    }
  }
}
