.footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
  user-select: text;
  font-size: x-small;
}

.author {
  font-weight: bold;
  user-select: text;
}

.author:hover {
  cursor: pointer;
}

#light .author {
  color: black;
}

.footer#dark,
#dark .author {
  color: white;
}

@media screen and (max-width: 400px) {
  .noPhone {
    display: none;
  }
}
