.mode-tab {
  margin: 1em 0 1.8em;
}

.mode-tab button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #bbada0;
  color: white;
  font-size: 1.2em;
  text-transform: capitalize;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.mode-tab button:hover {
  background-color: #68584a;
}

.mode-tab button.active {
  background-color: #8f7a66;
  cursor: not-allowed;
}
