.theme {
  text-align: center;
}

.theme#light {
  background-color: #faf8ef;
  color: black;
}

.theme#dark {
  background-color: #121213;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  height: 80px;
  width: 100%;
}

#dark .navbar {
  border-bottom: 1px solid #3a3a3c;
}

#light .navbar {
  border-bottom: 1px solid #d4d6da;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  left: 0px;
}

.back {
  height: 30px;
  width: 30px;
  margin: 25px;
}

h1.heading {
  padding-top: 10px;
  font-size: 37px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.info {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 100px;
  font-size: 1.5em;
  cursor: pointer;
}

#gameInfo {
  width: 30em;
  z-index: 1;
}

#gameInfo p {
  font-style: italic;
}

#gameInfo .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.switch {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 20px;
}

.switch .icon {
  width: 30px;
  color: yellow;
}

@media screen and (max-width: 550px) {
  h1.heading {
    padding-top: 0;
    font-size: 30px;
  }

  .info {
    justify-content: center;
    right: auto;
    margin-top: 3em;
    font-size: 1em;
  }

  #gameInfo {
    width: 350px;
  }
}
