.theme {
  text-align: center;
}

.theme#light {
  background-color: #faf8ef;
  color: black;
}

.theme#dark {
  background-color: #121213;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  height: 80px;
  width: 100%;
}

#dark .navbar {
  border-bottom: 1px solid #3a3a3c;
}

#light .navbar {
  border-bottom: 1px solid #d4d6da;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  left: 0px;
}

.back {
  height: 30px;
  width: 30px;
  margin: 25px;
}

h1.heading {
  font-size: 37px;
  font-weight: 700;
  padding-top: 10px;
}

.switch {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 20px;
}

.switch .icon {
  width: 30px;
  color: yellow;
}

@media screen and (max-width: 400px) {
  h1.heading {
    font-size: 32px;
    padding-top: 5px;
  }
}
