.banner {
  text-align: center;
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#light .banner {
  border-bottom: 1px solid #d4d6da;
}

#dark .banner {
  background-color: #121213;
  color: white;
}

h1.title {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 10px;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #9e1f63,
    #00aeef,
    #006663,
    #ed1c24,
    #7bc393,
    #392d91,
    #9e1f63
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  animation: gradient-heading 3s ease-in-out infinite alternate-reverse;
}

@keyframes gradient-heading {
  to {
    background-position: 200%;
  }
}

.banner .switch {
  right: 50px;
}

.banner .switch .large-icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  width: 30px;
  color: yellow;
}

@media screen and (max-width: 1000px) {
  .banner .switch {
    top: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 800px) {
  h1.title {
    font-size: 3.5em;
    padding: 0 94px;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 700px) {
  .banner {
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  h1.title {
    padding: 0 60px;
  }
}

@media screen and (max-width: 500px) {
  h1.title {
    padding: 0 30px;
  }
}

@media screen and (max-width: 400px) {
  h1.title {
    font-size: 3em;
    padding: 0;
  }

  .banner .switch {
    top: 25px;
    right: 20px;
  }
}
