.home {
  height: 100vh;
  width: 100vw;
  place-items: center;
  background-color: white;
}

.banner {
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.title {
  font-size: 5em;
}

.games {
  margin-top: 1em;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
}

.game {
  height: 350px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #faf8ef;
}

.gameTitle {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.game img {
  max-height: 100%;
  max-width: 100%;
}

.game:hover img {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.game:hover .gameTitle {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
