.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home#light {
  background-color: white;
}

.home#dark {
  background-color: grey;
}

.games {
  height: calc(100vh - 120px);
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.game {
  height: 350px;
  width: 500px;
  margin: 20px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#light .game {
  background-color: #faf8ef;
  box-shadow: 5px 0 20px black;
}

#dark .game {
  background-color: #121213;
}

.game:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.gameTitle {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  color: #007bff;
}

.game img {
  max-height: 95%;
  max-width: 95%;
}

.game:hover img {
  opacity: 0.2;
  transition: opacity 0.5s;
}

#dark .game:hover img {
  opacity: 0.1;
}

.game:hover .gameTitle {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

@media screen and (max-width: 400px) {
  .home {
    height: 100%;
  }

  .games {
    margin: 0 0 25px;
    height: 100%;
  }

  .game {
    width: 350px;
    margin: 20px 0;
  }

  .game:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }
}
