.lights-out .board {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.lights-out.medium .board {
  grid-template-columns: repeat(5, auto);
}

.lights-out.hard .board {
  grid-template-columns: repeat(9, auto);
}

.lights-out .cell {
  height: 124px;
  width: 124px;
  outline: 1px solid black;
  border-radius: 0;
  border: none;
}

.lights-out.medium .cell {
  height: 100px;
  width: 100px;
}

.lights-out.hard .cell {
  height: 55.75px;
  width: 55.75px;
}

.lights-out#light .cell.on {
  background-color: cyan;
}

.lights-out#dark .cell.on {
  background-color: royalblue;
}

.lights-out#light .cell.off {
  background-color: darkgrey;
}

.lights-out#dark .cell.off {
  background-color: lightgrey;
}

@media screen and (max-height: 845px) {
  .background.lights-out {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .background.lights-out {
    height: calc(100dvh - 80px);
  }

  .lights-out .cell {
    height: 117px;
    width: 117px;
  }

  .lights-out.medium .cell {
    height: 70px;
    width: 70px;
  }

  .lights-out.hard .cell {
    height: 39px;
    width: 39px;
  }

  @media screen and (max-height: 695px) {
    .background.lights-out {
      height: 100%;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 400px) {
  .background.lights-out {
    height: calc(100dvh - 75px);
  }

  @media screen and (max-height: 623px) {
    .background.lights-out {
      height: 100%;
    }
  }
}
