.lights-out .board {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.lights-out.medium .board {
  grid-template-columns: repeat(5, auto);
}

.lights-out.hard .board {
  grid-template-columns: repeat(9, auto);
}

.lights-out .cell {
  height: 124px;
  width: 124px;
  outline: 1px solid black;
  border-radius: 0;
  border: none;
}

.lights-out.medium .cell {
  height: 100px;
  width: 100px;
}

.lights-out.hard .cell {
  height: 55.75px;
  width: 55.75px;
}

.lights-out#light .cell.on {
  background-color: cyan;
}

.lights-out#dark .cell.on {
  background-color: royalblue;
}

.lights-out#light .cell.off {
  background-color: darkgrey;
}

.lights-out#dark .cell.off {
  background-color: lightgrey;
}
