.minesweeper .board {
  grid-template-columns: repeat(8, auto);
  grid-gap: 0px;
}

.minesweeper .cell {
  height: 62.5px;
  width: 62.5px;
  font-size: 40px;
  line-height: 62.5px;
  font-weight: bold;
  outline: 1px solid black;
  border-radius: 0;
}

.minesweeper .stats {
  display: flex;
}

.minesweeper h3.metric {
  margin: 0 3em;
}

.minesweeper .revealed {
  background-color: lightgrey;
  cursor: not-allowed;
}

.minesweeper .one {
  color: blue;
}

.minesweeper .two {
  color: green;
}

.minesweeper .three {
  color: red;
}

.minesweeper .four {
  color: darkblue;
}

.minesweeper .five {
  color: maroon;
}

.minesweeper .six {
  color: teal;
}

.minesweeper .seven {
  color: black;
}

.minesweeper .eight {
  color: gray;
}
