.minesweeper .board {
  grid-template-columns: repeat(8, auto);
  grid-gap: 0px;
}

.minesweeper.medium .board {
  grid-template-columns: repeat(12, auto);
}

.minesweeper.hard .board {
  grid-template-columns: repeat(16, auto);
}

.minesweeper .cell {
  height: 62.5px;
  width: 62.5px;
  font-size: 40px;
  line-height: 62.5px;
  font-weight: bold;
  outline: 1px solid black;
  border-radius: 0;
  border: none;
}

.minesweeper.medium .cell {
  height: 41.67px;
  width: 41.67px;
  font-size: 30px;
  line-height: 41.67px;
}

.minesweeper.hard .cell {
  height: 31.25px;
  width: 31.25px;
  font-size: 20px;
  line-height: 31.25px;
}

.minesweeper .stats {
  display: flex;
}

.minesweeper h3.flag {
  margin: 0 3em;
  cursor: pointer;
}

.minesweeper h3.flag-mode-active {
  color: red;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.minesweeper h3.timer {
  margin: 0 3em;
}

.minesweeper .revealed {
  background-color: lightgrey;
  cursor: not-allowed;
}

.minesweeper .one {
  color: blue;
}

.minesweeper .two {
  color: green;
}

.minesweeper .three {
  color: red;
}

.minesweeper .four {
  color: darkblue;
}

.minesweeper .five {
  color: maroon;
}

.minesweeper .six {
  color: teal;
}

.minesweeper .seven {
  color: black;
}

.minesweeper .eight {
  color: gray;
}

@media screen and (max-height: 845px) {
  .background.minesweeper {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .background.minesweeper {
    height: calc(100dvh - 80px);
  }

  .minesweeper .cell {
    height: 44px;
    width: 44px;
    font-size: 30px;
    line-height: 44px;
  }

  .minesweeper.medium .cell {
    height: 29.25px;
    width: 29.25px;
    font-size: 20px;
    line-height: 29.25px;
  }

  .minesweeper.hard .cell {
    height: 22px;
    width: 22px;
    font-size: 15px;
    line-height: 22px;
  }

  @media screen and (max-height: 695px) {
    .background.minesweeper {
      height: 100%;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 400px) {
  .background.minesweeper {
    height: calc(100dvh - 75px);
  }

  @media screen and (max-height: 623px) {
    .background.minesweeper {
      height: 100%;
    }
  }
}
