.emoji .board {
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  padding: 15px;
  border-radius: 6px;
}

.emoji .board.hard {
  grid-template-columns: repeat(5, auto);
  grid-gap: 12px;
}

.emoji .cell {
  width: 107px;
  height: 107px;
  font-size: 55px;
  line-height: 107px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.emoji .hard .cell {
  height: 86px;
  width: 86px;
  font-size: 45px;
  line-height: 86px;
}

.emoji .cell:not(.stable):not(.selected):hover {
  transform: scale(1.1);
}

.emoji#light .cell.selected {
  background-color: darkgrey;
  cursor: not-allowed;
}

.emoji#dark .cell.selected {
  background-color: grey;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .emoji .board {
    height: 370px;
    width: 370px;
    grid-gap: 10px;
    padding: 10px;
  }

  .emoji .board.hard {
    grid-gap: 8px;
  }

  .emoji .cell {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 45px;
  }

  .emoji .hard .cell {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-size: 36px;
  }
}
