.emoji .board {
  grid-template-columns: repeat(4, auto);
}

.emoji .board.hard {
  grid-template-columns: repeat(5, auto);
  grid-gap: 12px;
}

.emoji .cell {
  font-size: 58px;
}

.emoji .hard .cell {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 45px;
}

.emoji .cell:not(.stable):not(.selected):hover {
  transform: scale(1.15);
}

.emoji#light .cell.selected {
  background-color: darkgrey;
  cursor: not-allowed;
}

.emoji#dark .cell.selected {
  background-color: grey;
  cursor: not-allowed;
}

@media screen and (max-height: 845px) {
  .background.emoji {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .background.emoji {
    height: calc(100dvh - 80px);
  }

  .emoji .board {
    grid-gap: 10px;
  }

  .emoji .board.hard {
    grid-gap: 8px;
  }

  .emoji .cell {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 45px;
  }

  .emoji .hard .cell {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-size: 36px;
  }

  @media screen and (max-height: 663px) {
    .background.emoji {
      height: 100%;
    }
  }
}
