.emoji .board {
  grid-template-columns: repeat(4, auto);
}

.emoji.medium .board {
  grid-template-columns: repeat(5, auto);
  grid-gap: 12px;
}

.emoji.hard .board {
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
}

.emoji .cell {
  font-size: 58px;
}

.emoji.medium .cell {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 45px;
}

.emoji.hard .cell {
  height: 75px;
  width: 75px;
  line-height: 75px;
  font-size: 38px;
}

.emoji .cell:not(.stable):not(.selected):not(.won):hover {
  transform: scale(1.15);
}

.emoji#light .cell.selected {
  background-color: darkgrey;
  cursor: not-allowed;
}

.emoji#dark .cell.selected {
  background-color: grey;
  cursor: not-allowed;
}

.emoji#light .cell.won,
.emoji#dark .cell.won {
  animation: scale 1s infinite alternate;
  cursor: not-allowed;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@media screen and (max-height: 845px) {
  .background.emoji {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .background.emoji {
    height: calc(100dvh - 80px);
  }

  .emoji .board {
    grid-gap: 10px;
  }

  .emoji.medium .board {
    grid-gap: 8px;
  }

  .emoji.hard .board {
    grid-gap: 7px;
  }

  .emoji .cell {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 45px;
  }

  .emoji.medium .cell {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-size: 36px;
  }

  .emoji.hard .cell {
    height: 53px;
    width: 53px;
    line-height: 53px;
    font-size: 30px;
  }

  @media screen and (max-height: 663px) {
    .background.emoji {
      height: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  @media screen and (max-height: 630px) {
    .background.emoji {
      height: 100%;
    }
  }
}
