.App {
  text-align: center;
}

h1 {
  font-size: 37px;
  font-weight: 700;
}

.grid {
  width: 350px;
  height: 420px;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  gap: 5px;
}

.letter {
  display: grid;
  border: 1px solid grey;
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
  place-items: center;
}

.keyboard {
  height: 190px;
  width: 484px;
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  gap: 5px;
  padding-top: 6em;
}

.key {
  height: 58px;
  width: 43px;
  font-weight: bold;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid grey;
}

#bigKey {
  width: 67px;
}
